<%
    switch (status) {
    case "question":
%>
    <section class="card question">
        <h2><%= questions.at(questionsIndex).get("question") %></h2>
    </section>
<%
        break;
    case "closed":
%>
    <section class="card closed">
        <h2><%= hand[selected].get("answer") %></h2>
    </section>
<%
        break;
    case "open":
%>
    <section class="card open">
        <h2><%= hand[selected].get("answer") %></h2>
    </section>
<%
        break;
    default:
%>
    <section class="card black">
        <h2>Ask the question!</h2>
    </section>
    <% hand.forEach(function (card, index) { %>
        <section class="card overview" data-index="<%= index %>">
            <h2><%= card.get("answer") %></h2>
        </section>
    <% }); %>
<% } %>
